# Captcha settings  
VITE_RECAPTCHA_SITE_KEY="SITE KEY"



# Backend API URL  
VITE_API_URL="Tu API URL"

# Upload Cloudinary Img
VITE_UPLOAD_URL="Tu Upload Url"


# Google OAuth settings
VITE_GOOGLE_CLIENT_ID="Tu ID CLIENTE"