:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  color: initial;
  background-color: initial;
}

a {
  font-weight: 500;
  color: #002b3f;
  text-decoration: none;
}
a:hover {
  color: #001d33;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;

  
  display: block;
  background-color: #FCFEFC;
  color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  all: unset;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: initial;
    background-color: initia
  }};